.u-section-1 .u-sheet-1 {
  min-height: 2120px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 428px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 436px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 416px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2052px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 413px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 394px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1603px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 260px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 248px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 392px;
}

.u-section-2 .u-video-1 {
  width: 570px;
  height: 309px;
  margin: 48px auto 0 296px;
}

.u-section-2 .u-text-1 {
  margin: -159px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    margin-top: 265px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -130px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 293px;
    margin-top: 248px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -98px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 184px;
    margin-top: 241px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 19px;
}

.u-section-3 .u-line-1 {
  margin-top: 8px;
  margin-bottom: 8px;
  transform-origin: left center 0px;
}.u-section-4 .u-sheet-1 {
  min-height: 270px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 25px;
}

.u-section-5 .u-line-1 {
  margin-top: 11px;
  margin-bottom: 11px;
  transform-origin: left center 0px;
}.u-section-6 .u-sheet-1 {
  min-height: 680px;
}

.u-section-6 .u-text-1 {
  margin: -13px 0 0;
}

.u-section-6 .u-image-1 {
  width: 829px;
  height: 366px;
  margin: -421px auto 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    height: 367px;
    margin-left: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 319px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 540px;
    height: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 150px;
  }
}